<div class="course-card-image {{#if image}}{{else}}course-card-image--no-image{{/if}} {{#if
  added}}course-card-image--added{{/if}}">
  <div class="course-card-image__badges">
    {{#if free}}
      <span class="course-card-image__badge course-card-image__badge--free">Free</span>
    {{/if}}
    {{#if sale}}
      <span class="course-card-image__badge course-card-image__badge--sale">Sale -20%</span>
    {{/if}}
    {{#if original}}
      <span class="course-card-image__badge course-card-image__badge--original"></span>
    {{/if}}
  </div>

  {{#if plus}}
    <div class="course-card-image__plus">
      {{#if plus-price}}
        <span class="course-card-image__plus-price">
          {{ plus-price}}
          {{#if plus-price-old}}
            <span>{{plus-price-old}}</span>
          {{/if}}
        </span>
      {{/if}}
      UlearnaPlus
    </div>
  {{/if}}


  {{#if delete}}
    <button class="course-card-image__delete">
      {{> ui/svg name="course-delete"}}
    </button>

  {{else}}
    <button class="course-card-image__wish">
      {{> ui/svg name="course-wish"}}
    </button>
    <span class="course-card-image__tip">Add to wish list</span>
  {{/if}}
  <i class="course-card-image__play"></i>

  {{#if image}}
    {{#if big}}
      {{>components/image img=image img-tablet=(concat image '-mobile') ext="jpg"}}
    {{else}}
      {{>components/image img=image ext="jpg"}}
    {{/if}}
  {{/if}}
</div>
