<div class="exam-list-answer js-quiz__response">
  <div class="exam-list-answer__title">
    <span class="exam-list-answer__title-label">{{label}}.</span>
    <div class="exam-list-answer__group">
      <label class="exam-list-answer__title-text js-content-editor__editable">
        <input class="exam-list__input" type="hidden" name="answer" value="">{{text}}</label>
      <button class="exam-list__edit-btn js-content-edit-btn"></button>
    </div>
  </div>

  <div class="exam-list-answer__buttons">
    <div class="exam-list-answer__checkbox js-quiz__toggle">
      <label class="exam-list-answer__checkbox-label" for="{{id}}">
        <input type="checkbox" {{#if checked}}checked{{/if}} id="{{id}}" />
        {{#if checked}}
          <span class="exam-list-answer__checkbox-inner">
          {{> ui/svg name="check-mark"}}
            Correct
          </span>

        {{else}}
          <span class="exam-list-answer__checkbox-inner">Mark as correct</span>
        {{/if}}
      </label>
    </div>


    <div class="exam-list-answer__button js-quiz__delete-response">
      {{> ui/btn-icon
        icon="button-delete"
        label="Delete"
      }}
    </div>
  </div>
</div>
