<div class="program-card {{#if not-upgrade}}program-card--not-upgrade{{/if}}">
  <span class="program-card__title">{{title}}</span>
  <span class="program-card__text">{{text}}</span>
  <div class="program-card__label">{{label}}</div>
  <div class="program-card__btn">
    {{#if not-upgrade}}
      {{> ui/btn btn-mode="no-border" label=btn-label}}
    {{else}}
      {{> ui/btn outline=true label=btn-label}}
    {{/if}}
  </div>

  <div class="program-card__bage">
    {{#if not-upgrade}}
      <i class="program-card__bage-icon"></i>
      {{else}}
      <span class="program-card__bage-tip">Best value - 20%</span>
    {{/if}}
  </div>
</div>
