<div class="program-card {{#if not-upgrade}}program-card--not-upgrade{{/if}}">
  <span class="program-card__title">{{title}}</span>
  <span class="program-card__text">{{text}}</span>
  {{#if not-upgrade}}
    <div class="program-card__badge">
      <i class="program-card__badge-icon"></i>
    </div>
  {{else}}
    <div class="program-card__badge program-card__badge--green">
      <span class="program-card__badge-tip">Best value - 20%</span>
    </div>
  {{/if}}
  <div class="program-card__label">{{label}}</div>
  <div class="program-card__bottom">
    <div class="program-card__btn">
      {{#if not-upgrade}}
        {{> ui/btn btn-mode="no-border" mod="btn--w100-mobile" label=btn-label}}
      {{else}}
        {{> ui/btn outline=true mod="btn--w100-mobile" label=btn-label}}
      {{/if}}
    </div>
  </div>
</div>
