<div class="course-page">
  <div class="course-page__progress">
    <i class="course-page__progress-line" style="width: {{progress}}%"></i>
  </div>

  <div class="course-page__header">
    <div class="container">
      <div class="course-page__header-wrapper">
        <a href="#" class="course-page__header-back-link">Back To Profile</a>
        <span class="course-page__header-title">Create a Course</span>
      </div>
    </div>
  </div>

  <div class="course-page__tabs">
    <div class="create-course-tabs">
      <div class="create-course-tabs__inner">
        <div class="create-course-tabs__item">
          {{#ifCond tab 1}}
            <span class="create-course-tabs__link active">Overview</span>
          {{else}}
            <a href="#" class="create-course-tabs__link {{#if tab1-passed}}create-course-tabs__link--passed{{/if}}">Overview</a>
          {{/ifCond}}
        </div>
        <div class="create-course-tabs__item">
          {{#ifCond tab 2}}
            <span class="create-course-tabs__link active">Video lessons</span>
          {{else}}
            <a href="#" class="create-course-tabs__link {{#if tab2-passed}}create-course-tabs__link--passed{{/if}}">Video
              lessons</a>
          {{/ifCond}}
        </div>
        <div class="create-course-tabs__item">
          {{#ifCond tab 3}}
            <span class="create-course-tabs__link active">Quiz</span>
          {{else}}
            <a href="#"
               class="create-course-tabs__link {{#if tab3-passed}}create-course-tabs__link--passed{{/if}}">Quiz</a>
          {{/ifCond}}
        </div>
        <div class="create-course-tabs__item">
          {{#ifCond tab 4}}
            <span class="create-course-tabs__link active">Payout Program</span>
          {{else}}
            <a href="#" class="create-course-tabs__link">Payout Program</a>
          {{/ifCond}}
        </div>
      </div>
    </div>
  </div>

  <div class="course-page__main">
    <div class="course-page__wrapper">
      <span class="course-page__main-title">{{tab-title}}</span>
      <span class="course-page__main-label">{{label}}</span>
    </div>
    {{#ifCond tab 1}}
      {{> blocks/create-course/overview/tab-overview}}
    {{/ifCond}}

    {{#ifCond tab 2}}
      {{> blocks/create-course/lessons/tab-lessons}}
    {{/ifCond}}
  </div>
</div>

