<div class="form-input {{#if icon}}form-input--icon{{/if}} {{#if submit-btn}}form-input--icon-submit{{/if}} {{#if icon-date}}form-input--icon-right{{/if}} {{#when date
                                                                                                                    '||'
                                                                                                                    clipboard}}form-input--icon-right{{/when}} {{#if
  mod}}{{mod}}{{/if}}">
  <input type="{{#if type}}{{type}}{{else}}{{#if date}}date{{else}}{{/if}}text{{/if}}" autocomplete="off"
         placeholder="{{ placeholder }}"
         class=" {{#if mask}}js-masked-input{{/if}} {{#if numeric}}js-numeric-input{{/if}} {{#if
           date}}js-datepicker{{/if}}"
         {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}  {{#if mask}}data-mask="{{mask}}"{{/if}}
    {{#if value}}value="{{value}}"{{/if}}/>

  {{#if icon}}
    <i class="form-input__icon form-input__icon--{{icon}}"></i>
  {{/if}}

  {{#if date}}
    <i class="form-input__icon form-input__icon--date"></i>
  {{/if}}

  {{#if icon-date}}
    <i class="form-input__icon form-input__icon--date"></i>
  {{/if}}

  {{#if clipboard}}
    <div class="form-input__clipboard js-copy-to-clipboard-input">
      <i class="form-input__icon form-input__icon--clipboard"></i>
      <span class="form-input__clipboard-tip">Copy link</span>
    </div>
  {{/if}}

  {{#if submit-btn}}
    <button class="form-input__submit-btn form-input__submit-btn--{{submit-btn}}" type="submit"></button>
  {{/if}}
</div>
