<div class="form-input {{#if icon}}form-input--icon{{/if}} {{#if date}}form-input--icon-right{{/if}} {{#if
  mod}}{{mod}}{{/if}}">
  <textarea id="{{id}}" rows="{{rows}}" autocomplete="off" placeholder="{{ placeholder }}">{{value}}</textarea>
</div>
