<div class="chat-message {{#if incoming}}chat-message--incoming{{/if}}">
  {{#if image}}
    <span class="chat-message__title">{{title}}</span>
    <time class="span chat-message__time">{{time}}</time>

    <div class="chat-message__img">
      {{> components/image img=(concat 'profile/chat/' image) img-mobile=(concat image '-mobile') ext="jpg" no-2x=true}}
      <a href="#" class="chat-message__download" download="">
        {{> ui/svg name="download"}}
      </a>
    </div>
  {{else}}
    <div class="chat-message__wrapper">
      <span class="chat-message__title">{{title}}</span>
      <time class="span chat-message__time">{{time}}</time>
      <div class="chat-message__text">
        {{text}}
      </div>
    </div>
  {{/if}}
</div>
