<div class="settings-radio-form">
  <label class="settings-radio-form__label" for="{{name}}_{{value}}">
    <input type="radio" {{#if checked}}checked{{/if}} id="{{name}}_{{value}}" name="{{name}}" value="{{value}}" />
    <div class="settings-radio-form__inner">
      <span class="settings-radio-form__title">{{ label }}</span>
      <span class="settings-radio-form__text">{{ text }} {{#if more-btn}}
        <a class="settings-radio-form__more-btn" href="#">More About</a>{{/if}}
      </span>
    </div>
  </label>
</div>
